<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">


    <title>Car Dealership</title>

    <!-- Load an icon library -->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div class="addnew">

    <form th:action="@{/vehicleInsert}" th:object="${vehicledata}"  method="POST" target="_blank">
        <fieldset>
            <legend>Title: Add a New Vehicle</legend>

            <input type="text" value="Make" />
            <br />
            <br />
            <input type="text" value="Model" />
            <br />
            <br />
            <label>Year</label>
            <br />
            <input type="number" value="Year" />
            <br />
            <br />
            <input type="text" value="VIN" />
            <br />
            <br />
            <input type="text" value="Color" />
            <br />
            <br />
            <label>Mileage</label>
            <input type="number" value="Mileage" />
            <br />
            <br />
            <label>Price</label>
            <input type="number" value="Price" />
            <br />
            <br />
            <label>Availability</label>
            <select>
                <option selected="selected" value="1">For Sale</option>
                <option value="2">Sold</option>
            </select>
            <br />
            <button type="submit" value="Submit">Submit</button>


        </fieldset>
    </form>
</div>
</body>
</html>