<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">


    <title>Car Dealership</title>

    <!-- Load an icon library -->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div class="mainmenu">

        <a th:href="@{/index}"><i class="(Put css class here)"></i> Home </a>
        <a class="active" th:href="@{/vehicles}"><i class="(Put css class here)"></i> Vehicles </a>
        <a th:href="@{/customer}"><i class="(Put css class here)"></i> Customers </a>
        <a th:href="@{/employee}"><i class="(Put css class here)"></i> Employees </a>
        <a th:href="@{/transaction}"><i class="(Put css class here)" ></i> Transactions </a>


    </div>

    <b></b>



</head>

<body>

<h1></h1>

<h2></h2>

</body>


</html>