<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">


    <title>Car Dealership</title>

    <!-- Load an icon library -->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div class="mainmenu">

        <a th:href="@{/index}"><i class="(Put css class here)"></i> Home </a>
        <a class="active" th:href="@{/vehicle}"><i class="(Put css class here)"></i> Vehicles </a>
        <a th:href="@{/customer}"><i class="(Put css class here)"></i> Customers </a>
        <a th:href="@{/employee}"><i class="(Put css class here)"></i> Employees </a>
        <a th:href="@{/transaction}"><i class="(Put css class here)" ></i> Transactions </a>

    </div>

    <b></b>

</head>
<body>


    <div class="addnew">

        <form accept-charset="UTF-8" action="action_page.php" autocomplete="off" method="GET" target="_blank">
            <fieldset>
                <legend>Title: Add a New Vehicle</legend>

                <input type="text" value="Make" />
                <br />
                <br />
                <input type="text" value="Model" />
                <br />
                <br />
                <label>Year</label>
                <br />
                <input type="number" value="Year" />
                <br />
                <br />
                <input type="text" value="VIN" />
                <br />
                <br />
                <input type="text" value="Color" />
                <br />
                <br />
                <label>Mileage</label>
                <input type="number" value="Mileage" />
                <br />
                <br />
                <label>Price</label>
                <input type="number" value="Price" />
                <br />
                <br />
                <label>Availability</label>
                <select>
                <option selected="selected" value="1">For Sale</option>
                <option value="2">Sold</option>
                </select>
                <br />
                <button type="submit" value="Submit">Submit</button>


            </fieldset>
        </form>
    </div>
    <div class="view">

        <table>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>VIN</th>
                <th>Color</th>
                <th>Mileage</th>
                <th>Availability</th>
            </tr>
            <tr>

                <td>${getVehicleMake()}</td>
                <td>${getVehicleMModel()}</td>
                <td>${getVehicleYear()}</td>
                <td>${getVehicleVin()}</td>
                <td>${getVehicleColor()}</td>
                <td>${getVehicleMileage()}</td>
                <td>${getVehiclePrice()}</td>
                <td>${getVehicleAvail()}</td>

            </tr>
        </table>

    </div>
<h1></h1>

<h2></h2>

</body>


</html>