<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">


    <title>Car Dealership</title>

    <!-- Load an icon library -->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div class="mainmenu">

        <a th:href="@{/index}"><i class="(Put css class here)"></i> Home </a>
        <a class="active" th:href="@{/vehicle}"><i class="(Put css class here)"></i> Vehicles </a>
        <a th:href="@{/customer}"><i class="(Put css class here)"></i> Customers </a>
        <a th:href="@{/employee}"><i class="(Put css class here)"></i> Employees </a>
        <a th:href="@{/transaction}"><i class="(Put css class here)" ></i> Transactions </a>

    </div>

    <b></b>

</head>
<body>

    <div align="center">
        <h1>Vehicle List</h1>
        <a th:href="@{/vehicle_add}">Add New Vehicle</a>
    <br/><br/>



    <div class="view">

        <table>
            <thead>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>VIN</th>
                <th>Color</th>
                <th>Mileage</th>
                <th>Availability</th>
                <th></th>

            </thead>

            <tr th:each="vehicleData : ${vehicledata}">

                <td th:text="${vehicleData.vehiclemake}"> </td>
<!--                <td th:text="${vehicledata.vehiclemodel}"></td>-->
<!--                <td th:text="${vehicledata.vehicleyear}"></td>-->
<!--                <td th:text="${vehicledata.vehiclevin}"></td>-->
<!--                <td th:text="${vehicledata.vehiclecolor}"></td>-->
<!--                <td th:text="${vehicledata.vehiclemileage}"></td>-->
<!--                <td th:text="${vehicledata.vehicleprice}"></td>-->
<!--                <td th:text="${vehicledata.vehicleavail}"></td>-->
<!--                <td>-->
<!--                    <a th:href="@{'/vehicle_update/' + ${vehicledata.vehicleid}}">Update</a>-->
<!--                    &nbsp;&nbsp;&nbsp;-->
<!--                    <a th:href="@{'/vehicle_delete/' + ${vehicledata.vehicleid}}">Delete</a>-->
<!--                </td>-->

            </tr>
        </table>

    </div>
    </div>
<h1></h1>

<h2></h2>

</body>


</html>